<br/>
<!-- Filtering -->
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-filter"></span></span>
    <input type="text" class="form-control" placeholder="filter" [(ngModel)]="filter"/>
</div>
<br/>

<!-- Column Definitions -->
<wj-flex-grid #frozenFlex [(itemsSource)]="data" [frozenRows]="2"
              [frozenColumns]="2" [selectionMode]="selectionMode">
    <wj-flex-grid-column [header]="'ID'" [binding]="'id'" [isReadOnly]="true" [width]="50"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Country'" [binding]="'country'" [width]="'*'" [isReadOnly]="true">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <div>
                <img src="http://demos.wijmo.com/5/Angular2/FlexGridIntro/FlexGridIntro/resources/{{cell.item.country}}.png"/>
                {{cell.item.country}}
            </div>
        </ng-template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Date'" [binding]="'date'" [isRequired]="false"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Revenue'" [binding]="'amount'" [format]="'n0'" [aggregate]="'Sum'"
                         [isRequired]="false">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <div [ngStyle]="{color: getAmountColor(cell.item.amount)}">
                {{cell.item.amount | number:'1.0-0'}}
            </div>
        </ng-template>
    </wj-flex-grid-column>
</wj-flex-grid>

<!--paging-->
<div class="btn-group">
    <button type="button" class="btn btn-default"
            (click)="data.moveToFirstPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-fast-backward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToPreviousPage()"
            [disabled]="data.pageIndex <= 0">
        <span class="glyphicon glyphicon-step-backward"></span>
    </button>
    <button type="button" class="btn btn-default" disabled style="width:100px">
        {{data.pageIndex + 1 | number}} / {{data.pageCount | number}}
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToNextPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-step-forward"></span>
    </button>
    <button type="button" class="btn btn-default"
            (click)="data.moveToLastPage()"
            [disabled]="data.pageIndex >= data.pageCount - 1">
        <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
</div>
<br/>

<!-- Cell Freezing -->
<button class="btn btn-default"
        (click)="toggleFreeze(frozenFlex)">
    {{frozenFlex.frozenRows === 0? 'Freeze' : 'Unfreeze'}}
</button>

<!-- Selection Modes -->
<wj-menu [(value)]="selectionMode" [header]="'Selection Mode'">
    <wj-menu-item [value]="'None'">None</wj-menu-item>
    <wj-menu-item [value]="'Cell'">Cell</wj-menu-item>
    <wj-menu-item [value]="'CellRange'">CellRange</wj-menu-item>
    <wj-menu-item [value]="'Row'">Row</wj-menu-item>
    <wj-menu-item [value]="'RowRange'">RowRange</wj-menu-item>
    <wj-menu-item [value]="'ListBox'">ListBox</wj-menu-item>
</wj-menu>

<!-- Grouping -->

<wj-menu [(value)]="groupBy" [header]="'Group by'">
    <wj-menu-item [value]="''">(no grouping)</wj-menu-item>
    <wj-menu-item [value]="'country'">Country</wj-menu-item>
    <wj-menu-item [value]="'amount'">Revenue</wj-menu-item>
    <wj-menu-item [value]="'date'">Date</wj-menu-item>
    <wj-menu-item [value]="'country,date'">Country and Date</wj-menu-item>
    <wj-menu-item [value]="'country,amount'">Country and Revenue</wj-menu-item>
    <wj-menu-item [value]="'country,date,amount'">Country, Date, and Revenue</wj-menu-item>
</wj-menu>

<!-- Master-Detail -->

<dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{data.currentItem.id}}</dd>
    <dt>Country</dt>
    <dd>{{data.currentItem.country}}</dd>
    <dt>Date</dt>
    <dd>{{data.currentItem.date | date}}</dd>
    <dt>Revenue</dt>
    <dd>{{data.currentItem.amount | number: '3.1-2'}}</dd>
</dl>
<hr>
<wj-flex-grid class="custom-flex-grid"
              [itemsSource]="treeData"
              [childItemsPath]="'items'"
              [allowResizing]="'None'"
              [selectionMode]="'ListBox'"
              [headersVisibility]="'None'">
    <wj-flex-grid-column [binding]="'name'" [width]="'*'"></wj-flex-grid-column>
    <wj-flex-grid-column [binding]="'length'" [width]="80" [align]="'center'"></wj-flex-grid-column>
</wj-flex-grid>
