/* set default grid style */
.wj-flexgrid {
    height: 300px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 12px;
}

/* frozen cells */
.wj-frozen:not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #f8ffd6;
}

.wj-frozen.wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #f8ffd6;
}

/* frozen area edges */
.wj-frozen-row {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.wj-frozen-col {
    border-right: 1px solid rgba(0, 0, 0, .5);
}

.custom-flex-grid .wj-header.wj-cell {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-right: solid 1px #404040;
    border-bottom: solid 1px #404040;
}

.custom-flex-grid .wj-cell {
    border: none;
    background-color: #fff;
}

.custom-flex-grid .wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {

}

.custom-flex-grid .wj-state-selected {
    background: #000;
    color: #fff;
}

.custom-flex-grid .wj-state-multi-selected {
    background: #222222;
    color: #fff;
}

.custom-flex-grid .wj-glyph-up {
    /*
    background-color:url('../../resources/ascending.png');
    */
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 1em;
    height: 1em;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    opacity: 1;
}

.custom-flex-grid .wj-glyph-down {
    /*
    background-image:url('../../resources/descending.png');
    */
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 1em;
    height: 1em;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    opacity: 1;
}

.custom-flex-grid .wj-glyph-right {
    /*
    background-image:url('../../resources/collapsed.png');
    */
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 1em;
    height: 1em;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.custom-flex-grid .wj-glyph-down-right {
    /*
    background-image:url('../../resources/expanded.png');
    */
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 1em;
    height: 1em;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}


