<br/>
<wj-flex-grid [itemsSource]="data1"
              [allowSorting]="false"
              [deferResizing]="true">
    <ng-template wjFlexGridCellTemplate [cellType]="'TopLeft'" *ngIf="customTopLeft">
        №
    </ng-template>
    <ng-template wjFlexGridCellTemplate [cellType]="'BottomLeft'" *ngIf="customBottomLeft">
        &#931;
    </ng-template>
    <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" *ngIf="customRowHeader" let-cell="cell">
        {{cell.row.index}}
    </ng-template>
    <ng-template wjFlexGridCellTemplate [cellType]="'RowHeaderEdit'" *ngIf="customRowHeaderEdit">
        ...
    </ng-template>
    <wj-flex-grid-column header="Country"
                         binding="country"
                         width="*">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" *ngIf="customCell" let-item="item">
            <img src="http://demos.wijmo.com/5/Angular2/FlexGridIntro/FlexGridIntro/resources/{{item.country}}.png"/>
            {{item.country}}
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" *ngIf="customCellEdit" let-cell="cell">
            <wj-combo-box [itemsSource]="countries"
                          [(selectedValue)]="cell.value"
                          [isEditable]="false"></wj-combo-box>
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'GroupHeader'" *ngIf="customGroupHeader" let-item="item"
                     let-cell="cell">
            <input type="checkbox" [(ngModel)]="cell.row.isCollapsed"/>

            {{item.name}} ({{item.items.length}} items)

        </ng-template>
    </wj-flex-grid-column>
    <wj-flex-grid-column header="Downloads"
                         binding="downloads"
                         [width]="170"
                         [aggregate]="'Sum'">
        <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" *ngIf="customColumnHeader">
            <input type="checkbox" [(ngModel)]="uiCtx.highlightDownloads"/>
            Downloads
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" *ngIf="customCell" let-item="item">
                <span [ngStyle]="{color: uiCtx.highlightDownloads? (item.downloads>10000 ?'green':'red'):''}"
                      style="font-weight:700">
                    {{item.downloads}}
                </span>
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'CellEdit'" *ngIf="customCell" let-cell="cell">
            <wj-input-number [(value)]="cell.value"
                             [step]="1"></wj-input-number>
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'Group'" *ngIf="customGroup" let-cell="cell">
            Sum = {{cell.value | number:'1.0-0'}}
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'ColumnFooter'" *ngIf="customColumnFooter" let-cell="cell">
            Sum = {{cell.value | number:'1.0-0'}}
        </ng-template>
    </wj-flex-grid-column>
</wj-flex-grid>

<div class="checkbox-list">
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customTopLeft"/> TopLeft
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customRowHeader"/> RowHeader
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customRowHeaderEdit"/> RowHeaderEdit
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customCell"/> Cell
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customCellEdit"/> CellEdit
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customColumnHeader"/> ColumnHeader
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customGroupHeader"/> GroupHeader
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customGroup"/> Group
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customColumnFooter"/> ColumnFooter
    </label>
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="customBottomLeft"/> BottomLeft
    </label>
</div>

<br/>

<!--
<wj-flex-grid #flex1
              [itemsSource]="data1"
              [allowSorting]="false"
              (initialized)="flex1.collapseGroupsToLevel(0)"
              style="height:300px"
              [selectionMode]="'None'"
              [allowDragging]="'None'"
              [deferResizing]="true">
    <wj-flex-grid-column header="Country"
                         binding="country">
        <ng-template wjFlexGridCellTemplate [cellType]="'GroupHeader'" let-item="item" >
            <img src="http://demos.wijmo.com/5/Angular2/FlexGridIntro/FlexGridIntro/resources/{{item.name}}.png" />
            {{item.name}}
        </ng-template>
    </wj-flex-grid-column>

    <wj-flex-grid-column header="Downloads"
                         binding="downloads"
                         width="*"
                         [aggregate]="'Sum'"
                         [align]="'center'">
        <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let-item="item" let-cell="cell">
            {{cell.col.header}}:
            <wj-combo-box [itemsSource]="['Chart', 'Table']"
                          [(text)]="uiCtx.reportType"
                          style="width:100px;font-weight:400"
                          [isEditable]="false">
            </wj-combo-box>
        </ng-template>
        <ng-template wjFlexGridCellTemplate [cellType]="'Group'" let-item="item" let-cell="cell">
            <div style="font-size:small;text-align:center">
                {{uiCtx.reportType}}
                <wj-flex-grid  *ngIf="uiCtx.reportType === 'Table'"
                               [itemsSource]="item.items"
                               [isReadOnly]="false"
                               [headersVisibility]="'None'"
                               [selectionMode]="'Cell'"
                               style="height:140px;width:200px">
                    <wj-flex-grid-column binding="date"
                                         width="*">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [binding]="cell.col.binding"
                                         width="*">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <wj-flex-chart *ngIf="uiCtx.reportType === 'Chart'"
                               style="height:140px;width:200px;display:inline-block"
                               [itemsSource]="item.items"
                               binding="date"
                               [chartType]="'Column'"
                               [plotMargin]="5">
                    <wj-flex-chart-legend [position]="'None'"></wj-flex-chart-legend>
                    <wj-flex-chart-axis [wjProperty]="'axisX'"
                                        [axisLine]="false"
                                        [labels]="false">
                    </wj-flex-chart-axis>
                    <wj-flex-chart-axis [wjProperty]="'axisY'"
                                        [axisLine]="false"
                                        [labels]="false">
                    </wj-flex-chart-axis>
                    <wj-flex-chart-series binding="{​{cell.col.binding}​}"></wj-flex-chart-series>
                </wj-flex-chart>
            </div>
        </ng-template>
    </wj-flex-grid-column>
</wj-flex-grid>-->
