<nav>
    <a routerLink="quick-start">Quick-Start</a>
    <a routerLink="flex-grid">Flex-Grid</a>
    <a routerLink="cell-template">Cell-Template</a>
    <a routerLink="save-column-layout">Save-column-layout</a>
    <a routerLink="dynamic-column">Dynamic-Column</a>
</nav>

<router-outlet></router-outlet>

