<h3>Wijmo FlexGrid example to save grid column layout - (Angular2 TypeScript)</h3>
<div>
    <wj-flex-grid #flex [itemsSource]="dataSource" [selectionMode]="'Row'"
                  (dragend)="saveColumnLayout()" (mouseup)="saveColumnLayout()" (click)="saveSort()"
                  (initialized)="initGrid(flex)">

        <ng-template wjFlexGridCellTemplate [cellType]="'TopLeft'">
            <input type="checkbox">
        </ng-template>

        <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
            <input type="checkbox">
        </ng-template>
    </wj-flex-grid>
</div>

<button (click)="saveColumnLayout()"> Save layout</button>
<button (click)="loadColumnLayout()"> Load layout</button>