<app-banner></app-banner>
<app-welcome></app-welcome>

<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/wijmo">Wijmo</a>
</nav>
<router-outlet></router-outlet>