<h2>{{title}}</h2>
<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <app-dashboard-hero *ngFor="let hero of heroes" class="col-1-4"
                        [hero]=hero (selected)="gotoDetail($event)">
    </app-dashboard-hero>
</div>
<app-hero-search></app-hero-search>
